.Contact{
    background: url(https://image.freepik.com/free-photo/autumn-leaves-bottom-side-pattern_23-2147869506.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(109, 106, 106);
}
input{
    border-radius: 5px;
}
input:focus{
    outline: none;
}
textarea{
    border-radius: 5px;
}
placeholder{
    color: rgb(109, 106, 106);
}