@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.intro{
    font-family: Poppins;
    background: url(https://image.freepik.com/free-photo/girl-with-brush-ladder-near-wall_23-2148037911.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.font{
    font-size: 20px;
}
.align{
    padding-top: 14em;
}