.work{
    padding-top: 20px;
    background: url(https://image.freepik.com/free-photo/wood-texture-design-decoration_23-2148283214.jpg) no-repeat;
    background-size: cover;
    padding-bottom: 2em;
}